<div class="hero-unit" style="margin-top: -20px">
  <div class="container">
    <div class="row" style="margin-top: 20vh">
      <div class="col-md-4 col-md-offset-2 wow fadeIn">
        <a href="/projects/new">
          <%= image_tag("post_event.png") %>
        </a>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay=".7s">
        <a href="/projects">
          <%= image_tag("supplier.png") %>
        </a>
      </div>
    </div>
  </div>
</div>