<div class="container">
  <div class="row">
    <% @suppliers.each do |supplier| %>
        <div class="col-md-2 col-md-offset-2">
          <img src="http://placehold.it/300" class="img-responsive img-thumbnail img-circle">
        </div>
        <div class="col-md-8">
          <h1><%= supplier.name %></h1>
          <img src="http://edumovlive.com/wp-content/uploads/2015/11/four-stars_0.png" alt="" class="img-responsive" width="100px">

          <h4><%= supplier.description %></h4>
          <h5><%= supplier.things_supplied %></h5>
          <%= link_to 'View Supplier', supplier, class: "btn btn-primary" %>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
    <% end %>
  </div>
</div>